h1,h2{
    color: red;
}

.dost{
    color: rgb(74, 211, 29);
}
.viol{
    color: rgb(192, 213, 31);
    font-size: 20px;
    font-weight: 900;
}
.yandex{
    color: rgb(205, 26, 26);
    font-size: 15px;
    text-align: center;
    line-height: 40px;
    text-shadow: 3px;
}

.yandex:hover {
border: 1px solid;
background-color: brown;
color: rgb(0, 0, 0);
}
.pic {
    transition: all .5s;
}
.pic:hover {
transform: scale(1.2);
}
.container {
    
}